@font-face {
  font-family: 'simpsix';
  src: url('Assets/Fonts/Simple Six Regular.ttf') format('truetype');
}
body {
    background-color: black;
    color: white;
    margin:0;
}

h1 {
    font-family: simpsix, monospace;
    font-size: 200%;
    color:#FFFFFF;
    text-shadow: #0099FF;
    margin: 0;
    text-shadow: 0px 0px 5px #000;
    
    position: absolute;
    top: 20vh;
    width: 100vw;
    
}

.invisible {
    position: absolute;
    left: 0vw;
    top: 0vh;
    opacity:0.0;
}

.right_screen {
    position: absolute;
    left: 50vw+39.2vh;
}

.HUD {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    margin: 0px;
    padding: 0px;

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,0,0);
    
    overflow-y:hidden;
    overflow-x:hidden;
}

.GAME {
    display:block; 
    margin:-1px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
