.index {
	color:#FFFFFF;
	background-color:#000000;
    margin: 0vh;
}


.interior{
	color:#FFFFFF;
	background:rgba(40,40,40,0.8);
    padding: 1%;
}

button{
    background: #444444;
    color:#FFFFFF;
    width: 15vw;
    border: #4444FF;
    border-style: solid;
    border-width: 0.5vw;
    font-weight:bold;
}

a {
text-decoration: None;
}

a:visited{
	color: #FFFFFF;
}
a:link {
	color: #FFFFFF;
}
a:hover {
	color: #AAAAAA;
}


h1 {
    font-weight: normal;
	font-family: simpsixheading, monospace;
	text-decoration: Underline;
	font-size: 18vh;
	color:#FFFFFF;
	margin-top: 5vh;
    margin-left: 5vh;
    margin-bottom: 2vh;
}

h2 {
    font-weight: normal;
    font-family: simpsix, monospace;
	text-decoration: None;
	font-size: 18vh;
	color:#FFFFFF;
	margin-top: 5vh;
    margin-left: 12vh;
    margin-bottom: 1vh;
}

h3 {
    font-weight: normal;
    font-family: simpsix, monospace;
	text-decoration: None;
	font-size: 8vh;
	color:#FFFFFF;
	margin-top: 5vh;
    margin-left: 12vh;
    margin-bottom: 1vh;
}

h4 {
    font-weight: normal;
    font-family: simpsix, monospace;
	text-decoration: None;
	font-size: 4vh;
	color:#FFFFFF;
	margin-top: 0vh;
    margin-left: 0vh;
    margin-bottom: 1vh;
}

h5 {
    font-weight: Bold;
    font-family: simpsix, monospace;
	text-decoration: None;
	font-size: 200%;
	color:#FFFFFF;
	margin-top: 0vh;
    margin-left: 0vh;
    margin-bottom: 1vh;

}

img.mainImage{
	margin: 0px;
    position: fixed;
    right:0vw;
    top: 5vh;
    height:90vh;
    z-index: -1;
}
img.dimImage{
	margin: 0px;
    position: fixed;
    left:55vh;
    top: 5vh;
    height:90vh;
    z-index: -1;
    opacity: 0.4;
}

.nav {
    margin-top:-23vh;
    margin-right:5vh;
    text-align: right;
}

ul {
    padding-left: 20px;
}

iframe{
    border:None;
}

@font-face {
  font-family: 'simpsixheading';
  src: url('Game/Assets/Fonts/SimpleSix.ttf') format('truetype');
}
@font-face {
  font-family: 'simpsix';
  src: url('Game/Assets/Fonts/Simple Six Regular.ttf') format('truetype');
}
