<link rel="stylesheet" href="../style.css?v=2"> 
<div class='interior'>
<h5>Are You Ready?</h5>
<hr>
Have you got what it takes to pilot a vehicle in six-degrees of 
freedom? Have you ever flown a spacecraft - in a cave?</br></br>
Get ready for Simple Six - a one vs one multiplayer contest of speed, skill and
strategy.
</div>
