<link rel="stylesheet" href="../style.css?v=2">
<div class='interior'>
<h5>Mini Blog:</h5>
<hr>
30-08-2016:</br>
<ul>
<li>Fixed bug causing loading to get stuck</li>
</ul>
03-01-2016:</br>
<ul>
<li>Texture Levels</li>
</ul>

24-12-2015:</br>
<ul>
<li>New Website!</li>
<li>K/D counter in cockpit</li>
</ul>
</div>
