<link rel="stylesheet" href="../style.css?v=2">  
<div class='interior'>
<h5>Forums</h5>
<hr>
At some point I would like to have forums here, but I think I'll get
the game further along the path to completion first.</br>
Also, my last go at running forums ended up in dealing with hundreds
of spam-bots per week - despite captchas and anti-bot questions.
</div>

